@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway|Roboto|Spartan&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8F9FD;
    font-family: 'Montserrat' ;
}

a {
    font-family: 'Raleway' ;
    color: #0C0F11;
    text-decoration: underline;
}

a:hover {
    color: #7289da;
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway' ;

}

.ul-unstyled {
    list-style: none;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.main-banner{
    font-size: 6rem;
    justify-content: center;
    text-align: center;
}

.sub-banner {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    /* font-size: 1.3rem; */
    font-weight: 500;
    text-align: center;

}

.links {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    /* font-size: 1.3rem; */
    font-weight: 600;
}

button {
    border: none;
}

/* colors and their shades*/

.primary{ background-color: #7289da; }
.secondary{ background-color: #B2AEFF;}
.success{ background-color: #43B581; }
.danger{ background-color: #F04747; }
.warning{ background-color: #E4A827; }
.info{ background-color: #DF86F4; }
.light{ background-color: #FFFFFF; }
.light-100{ background-color: #A6A7A8; }
.dark { background-color: #26262b; }
.dark-100 { background-color: #202225; }
.dark-200 { background-color: #0C0F11; }


/* @media only screen and (min-width: 601px) {
    .main-menu {
        display: none;
    }
    .main-menu.toggleNav {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .ham-icon {
        display: none;
    }
} */

/* If [device width] is LESS than or equal to 600px, then do {…} */
@media only screen and (max-width: 768px) {
    .sub-banner {
        font-size: 2rem;
    }
    .links {
        font-size: 2rem;
    }
}

/* If [device width] is GREATER than or equal to 600px, then do {…} */
@media only screen and (min-width: 769px) {
    .sub-banner {
        font-size: 1.5rem;
    }
    .links {
        font-size: 1.3rem;
    }
}