@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway|Roboto|Spartan&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: #323B4A;
}

body {
    background-color: #EBEDEE;
}
 nav {
    background-color: #FFFFFF;
    /* box-shadow: -1px 4px 8px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 4px 8px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 8px -3px rgba(0,0,0,0.75); */
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: sticky;
    border-bottom: 2px solid #323B4A;
 }

 a {
     color: #F4511C;
     text-decoration: none;
 }
 a:hover {
     text-decoration: underline;
 }










.alt {
    color: #F26B3F;
}
.container {
    max-width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.container-half {
    max-width: 50%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container-links {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}
.container-large {
    /* border: 3px blueviolet solid; */
    max-width: 35rem;
    display: flex;
    align-items: center;
}
.container-small {
    /* border: 3px blueviolet solid; */
    max-width: 19rem;
    display: flex;
    align-items: center;
}
.hero-content {
    display: flex;
    justify-content: center;
    height: 60vh;
    animation: easIn 1s 1 0s ease;
}
 .hero-banner {
    font-size: 6rem;
    padding-left: 1rem;
    margin-top: 1rem;
 }
.hero-sub-banner {
    font-size: 1.3rem;
    margin-top: .2rem;
}
.info {
    background-color: #323B4A;
    height: 40vh;
}
.section-info {
    padding: 1rem;
}
.section-header {
    padding-top: 0.9rem;
    padding-left: 1rem;
}
.ham-icon {
    font-size: 2rem;
}
.ham-icon:hover {
    opacity: 70%;
}
/* Text Colors */
.text-light {
    color: #FFFFFF;
}
.text-primary {
    color: #323B4A;
}
.text-secondary {
    color: #F4511C;
}
.text-info {
    color: #A1BCE5;
}

.bg-light {
    color: #FFFFFF;
}

/* Media Queries */
 @media only screen and (max-width: 600px) {
    .hero-content {
        display: flex;
        justify-content: center;
        height: 40vh;
        animation: easIn 1s 1 0s ease;
    }
    .hero-banner {
        font-size: 4rem;
    }
    body {
        overflow: none;
    }
    .section-info {
        padding-right: 2.5rem;
    }
    .container-half {
        max-width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
  }
@media only screen and (max-width: 768px) {
    .hero-content {
        display: block;
    }
    .hero-sub-banner {
        font-size: 1rem;
    }
    .container-small {
        /* border: 3px blueviolet solid; */
        max-width: 100%;
        display: flex;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .info {
        background-color: #323B4A;
        height: 100vh;
    }
}

/* Animations */

@keyframes easIn {
    0%{
        transform: rotate(0) translateY(-10px);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateY(0);
        opacity: 100;
        }
}

